:root {
    --lyrixy-lyric-current: #ffffff;
    --lyrixy-lyric-next: #dadada92;
    --lyrixy-lyric-passed: #cccccc62;
    --lyrixy-modal: #0e602b;
}

.lyric-row {
    font-size: 2rem;
    font-family: "SpotifyMixUI";
    font-weight: 700;
    margin-bottom: 8px;
    min-height: 2rem;
    width: 100%;
    transition: color 0.5s ease;
    color: var(--lyrixy-lyric-next);
}

.lyric-row-passed {
    color: var(--lyrixy-lyric-passed);
}

.lyric-row-current {
    color: var(--lyrixy-lyric-current);
}

.lyric-modal {
    min-height: 100%;
    background-color: #0e602b;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-left: 64px;
    padding-right: 64px;
}
