:root {
    --lyrixy-lyric-current: #ffffff;
    --lyrixy-lyric-next: #dadada92;
    --lyrixy-lyric-passed: #cccccc62;
    --lyrixy-container-background: #0e602b;

    /*Official spotify default font-size with fallback if the css-variable is removed by spotify*/
    --lyrixy-font-size: 2rem;
    --lyrixy-font-size-2: 3rem;
    --lyrixy-font-size-3: 4rem;
}

.lyrixy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    container-type: inline-size;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--lyrixy-container-background);
    padding-top: 64px;
    padding-bottom: 64px;
}

.lyrixy-rows {
    display: flex;
    flex-direction: column;
    width: min(100% - 2 * 64px, 1024px);
    font-size: var(--lyrixy-font-size);
}

@container (width > 800px) {
    .lyrixy-rows {
        font-size: var(--lyrixy-font-size-2);
    }
}

@container (width > 1600px) {
    .lyrixy-rows {
        font-size: var(--lyrixy-font-size-3);
    }
}

.lyrixy-text,
.lyrixy-message {
    font-family: "SpotifyMixUITitle", "SpotifyMixUI", sans-serif;
    font-weight: 700;
    min-height: 2rem;
    transition: color 0.5s ease;
    text-wrap: balance;
    margin-bottom: 0.6em;
    color: var(--lyrixy-lyric-current);
}

.lyrixy-text[data-type="passed"] {
    color: var(--lyrixy-lyric-passed);
}

.lyrixy-text[data-type="next"] {
    color: var(--lyrixy-lyric-next);
}

.lyrixy-text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--lyrixy-lyric-current);
}

.lyrixy-credits {
    font-size: 1rem;
}

.hide-lyrics > .lyrixy-text {
    display: none;
}
