:root {
    --lyrixy-lyric-current: #ffffff;
    --lyrixy-lyric-next: #dadada92;
    --lyrixy-lyric-passed: #cccccc62;
    --lyrixy-modal: #0e602b;

    /*Official spotify default font-size with fallback if the css-variable is removed by spotify*/
    --lyrixy-font-size: var(--encore-text-size-larger-2, 1.5rem);
}

.lyrics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lyric-row {
    /* This is the same formula used by spotify official lyrics section */
    width: min(100% - 2 * 64px, 1024px);

    font-size: 2rem;
    font-family: "SpotifyMixUI";
    font-weight: 700;
    margin-bottom: 8px;
    min-height: 2rem;
    font-size: var(--lyrixy-font-size);
    transition: color 0.5s ease;
    color: var(--lyrixy-lyric-next);
    text-wrap: balance;
}

.lyric-row:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--lyrixy-lyric-current);
}

@container (width > 800px) {
    .lyric-row {
        /*Official spotify font-size at 800px screen width with fallback if the css-variable is removed by spotify*/
        --lyrixy-font-size: var(--encore-text-size-larger-3, 2rem);
    }
}

@container (width > 1600px) {
    .lyric-row {
        /*Official spotify font-size at 1600px screen width with fallback if the css-variable is removed by spotify*/
        --lyrixy-font-size: var(--encore-text-size-larger-4, 2.5rem);
    }
}

.lyric-row-passed {
    color: var(--lyrixy-lyric-passed);
}

.lyric-row-current {
    color: var(--lyrixy-lyric-current);
}

.lyric-modal {
    background-color: #0e602b;
    padding: 64px 20px;
    width: 100%;
}

.lyrics-credits {
    font-size: 0.875rem;
    opacity: 0.8;
}

.lyrics-error {
    font-size: 2rem;
    font-family: "SpotifyMixUI";
    font-weight: 700;
    margin-bottom: 8px;
    min-height: 2rem;
    width: 100%;
    transition: color 0.5s ease;
    color: var(--lyrixy-lyric-current);
}
